body{
    background-color: rgb(0, 0, 0);
}
.botones{
    background-color: black;
    border: 5px solid darkblue;
    width: 300px;
    height: 400px;
    padding: 50px;
    border-radius: 5%;
    position: relative;
    margin-left: 30%;
}

#screen{
    background-color: rgb(0, 255, 42);
    border: 3px solid rgba(232, 29, 6, 0.546);
    margin: 31%;
    font-size: 165%;
    font-weight: bold;
    position: relative;
    right: 125px;
}

button{
    color: aqua;
    background: none;
    padding: 9px 6px 9px 2px;
    border: 1px solid rgb(255, 80, 200);
    font-size: 180%;
    border-radius: 6%;
    position: relative;
    width: 46px;
    font-family:'Times New Roman', Times, serif;
}

button:hover {
    background-color: #fb03ff71;
}
h1{
    color: darkorange;
    position: relative;
    bottom: -100px;
    right: -530px;
    z-index: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
